<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dash.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>Restaurante</title>
</head>
<body>
    <div id="app">
        <div class="logo1">
            <img src="logotipo.png" alt="Logotipo">
        </div>

        <div class="container">
            <nav>
                <form class="search-form">
                    <input type="text" placeholder="Adam Schwartz">
                </form>
                <div class="usuario">
                    <img src="usuario.jpg" alt="Usuario">
                </div>
            </nav>
        </div>
        
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
            <link rel="stylesheet" href="styles.css">
        </head>
        <body>

            <div class="hermanos">
                <h4>Hermanos don Chifle</h4>
            </div>
            <div id="sidebar">
                <h1>Navigation</h1>
                <ul>
                    <li>
                        <button class="dash">
                            <img src="/img/iconocasa.png" alt="">
                            <span id="dashboard-text">Dashboard</span>
                        </button>
                    </li>
                    <li>
                        <button class="menu">
                            <img src="/img/menuicono.png" alt="">
                            <span id="menu-text">Menu</span>
                        </button>
                    </li>
                    <li>
                        <button class="visualizar">
                            <img src="/img/carritoicono.png" alt="">
                            <span id="carrito-text">Visualizar</span>
                        </button>
                    </li>
                    <li>
                        <button class="empleados">
                            <img src="/img/tarjetaicono.png" alt="">
                            <span id="metodos-text">Empleados</span>
                        </button>
                    </li>
                    <li>
                        <button class="metodos">
                            <img src="/img/visulaizarmenuicono.png" alt="">
                            <span id="visualizar-text">Metodos de pago</span>
                        </button>
                    </li>
                    <li>
                        <button class="proveedor">
                            <img src="/img/iconocasa.png" alt="">
                            <span id="dashboard-text">Proveedor</span>
                        </button>
                    </li>
                    <li>
                        <button class="inventario">
                            <img src="/img/iconocasa.png" alt="">
                            <span id="dashboard-text">Inventario</span>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="hero">
                <h1 class="titulo">Dashboard</h1>
            </div>
            <div class="rectangulo1"></div>
            <div class="rec1">
                <h3>Ingresos Totales</h3>
                <h3>3,291,922</h3>
                <div class="rec2">
                    <h6>View Retail</h6>
                </div>
                <div class="rec3">
                    <h3>Pedidos Totales</h3>
                    <h3>290</h3>
                    <div class="rec4">
                        <h6>View Retail</h6>
                    </div>
            </div>
            <div class="rectangulo2">
                <h3>Categorias</h3>
            </div>
            <div class="rectangulo3">
                <h3>Redes Sociales</h3>
            </div>

            <div class="rectangulo4">
            </div>

            <div class="rectangulo5"></div>


        </body>
        </html>
        
        
            </li>
        </ul>
    </div>

      
           
    
    
    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript" src="practica.js"></script>
</body>
</html>
