<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ind.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>Restaurante</title>
</head>
<body>
    <div id="app"> 
        <div class="logo1">
            <img src="logotipo.png" alt="Logotipo">
        </div>

        <div class="container">
            <nav>
                <form class="search-form">
                    <input type="text" placeholder="Adam Schwartz">
                </form>
                <div class="usuario">
                    <img src="usuario.jpg" alt="">
                </div>
            </nav>
        </div>
        
        <main>
            <div class="hero">
                <h1 class="titulo">Mis restaurantes</h1>
            </div>
        </main>
        <div class="agregar">
            <button class="agregar1">Agregar Restaurante</button>
        </div>

        <footer>
            <div class="box">
                <div class="mesas">
                    <img src="resta.jpg" alt="Mesa" class="mesa">
                    <div class="texto-sobre-imagen">Hermanos don chifle</div>
                    <div class="texto2">Asiatica</div>
                
                    <img src="mesa.jpg" alt="Mesa" class="mesa">
                    <button class="btn-close">X</button>
                    <div class="botones">
                        <button class="btn-small1"></button>
                        <button class="btn-small2"></button>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    
    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript" src="practica.js"></script>
</body>
</html>

</html>